$color-primary = #3D315B;
$color-secondary = #444B6E;
$color-secondary-bold = #708B75;
$color-tertiary = #9AB87A;
$color-tertiary-bold = #F8F991;

body
  background-color $color-primary

.square
  background-color white
  height 10px
  width 10px

.flex-container
  display flex
  justify-content center
  flex-wrap wrap

.flex-item
  flex-grow 1
